main {
  font-family: cursive;
  max-width: 90%;
  margin: auto; }
  main h1 {
    text-decoration: underline; }
  main .random__colors__box {
    color: #89c30a;
    background-color: rgba(137, 195, 10, 0.12);
    border: 1px solid #000; }
  main .flex__container {
    border: solid #6AC5AC 3px; }
    main .flex__container .flex__item {
      border: solid #FDC72F 3px; }
  main .flex__container {
    min-height: 320px; }
    main .flex__container .flex__item {
      height: 150px; }
